@using Cybertek.MVC.Models
@model AddEditCategoryViewModel

<head>
  <link rel="stylesheet" href="~/css/form.css">
</head>
<body>
    <form class="form-group">
        @using (Html.BeginForm("SaveCategory", "Category", FormMethod.Post))
        {
            <ul>
                @Html.HiddenFor(m => m.Category.CategoryId)

                <li>
                    <label for="catname">Category Name</label>
                    @Html.TextBoxFor(m => m.Category.CategoryName, null, new {@class = "control-label col-md-8" })
                    
                </li>
                <li>
                    <label for="catname">Category Code</label>
                    @Html.TextBoxFor(m => m.Category.CategoryCode, null, new { @class = "control-label col-md-8" })

                </li>
                <li>
                    <label for="catname">Description</label>
                    @Html.TextBoxFor(m => m.Category.Description, null, new { @class = "control-label col-md-8" })
                </li>
                <li>
                    <label for="catname">Active</label>
                    @Html.TextBoxFor(m => m.Category.Active, null, new { @class = "control-label col-md-8" })
                </li>
         
                    <input type="submit" value="Save" class="btn btn-danger" />

                    <div class="btn btn-light">
                        @Html.ActionLink("Cancel", "Category", "Category")
                    </div>                    
            </ul>
         }
    </form> 
</body>