@using Cybertek.MVC.Models
@model AddEditCategoryViewModel

<head>

</head>
<body>
    @using (Html.BeginForm("SaveCategory", "Category", FormMethod.Post))

    {
        @Html.HiddenFor(m => m.Category.CategoryId)
        <div>
            <label for="catname">Category Name</label>
            @Html.TextBoxFor(m => m.Category.CategoryName, null, new { })

            <label for="catname">Category Code</label>
            @Html.TextBoxFor(m => m.Category.CategoryCode, null, new { })
        </div>
        <div>
            <label for="catname">Description</label>
            @Html.TextBoxFor(m => m.Category.Description, null, new { })

            <label for="catname">Active</label>
            @Html.TextBoxFor(m => m.Category.Active, null, new { })
        </div>  
        
        <input type="submit" value="Save" class="btn-danger" />

        <div class="btn btn-light">
            @Html.ActionLink("Cancel", "Category", "Category")
        </div>
     }
</body>