@using Cybertek.MVC.Models
@model CategoryViewModel

<head>
    <link rel="stylesheet" href="~/css/form.css">
    
</head>
<body>
    <h1>Category</h1>
    <div class="butt">
        @Html.ActionLink("Add New Category", "AddEditCategory", "Category", new { })
    </div>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category Name</th>
                <th scope="col">Code</th>
                <th scope="col">Description</th>
                <th scope="col">Active</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i <= Model.Categories.Count - 1; i++)
            {
                <tr>
                    <td>@Html.HiddenFor(m => m.Categories[i].CategoryId)</td>
                    <td>@Html.ValueFor(m => m.Categories[i].CategoryName)</td>
                    <td>@Html.ValueFor(m => m.Categories[i].CategoryCode)</td>
                    <td>@Html.ValueFor(m => m.Categories[i].Description)</td>
                    <td>@Html.ValueFor(m => m.Categories[i].Active)</td>
                    <td>@Html.ActionLink("Edit", "AddEditCategory", "Category", new { @catId = Model.Categories[i].CategoryId })</td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteCategory", "Category", new { @catId = Model.Categories[i].CategoryId },
                       new { onclick = "return confirm('Do you really want to delete this record ' + '?')" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
 