@using Cybertek.MVC.Models
@model AddEditSupplierViewModel

<head>
    <link rel="stylesheet" href="~/css/form.css">
</head>
<body>
    <form class="form-group">
        @using (Html.BeginForm("SaveSupplier", "Supplier", FormMethod.Post))

        {
            <ul>
                @Html.HiddenFor(m => m.Supplier.SupplierId)
                <li>
                    <label for="catname">Supplier Code</label>
                    @Html.TextBoxFor(m => m.Supplier.SupplierCode, null, new { @class = "control-label col-md-8" })
                </li>
            
                <li>
                    <label for="catname">Supplier Name</label>
                    @Html.TextBoxFor(m => m.Supplier.SupplierName, null, new { @class = "control-label col-md-8" })
                </li>
            
                <li>
                    <label for="catname">Owner</label>
                    @Html.TextBoxFor(m => m.Supplier.Owner, null, new { @class = "control-label col-md-8" })
                </li>
            
                <li>
                    <label for="catname">Contact Person</label>
                    @Html.TextBoxFor(m => m.Supplier.ContactPerson, null, new { @class = "control-label col-md-8" })
                </li>
            
                <li>
                    <label for="catname">Contact Number</label>
                    @Html.TextBoxFor(m => m.Supplier.ContactNumber, null, new { @class = "control-label col-md-8" })
                </li>
            
                <li>
                    <label for="catname">Email Address</label>
                    @Html.TextBoxFor(m => m.Supplier.EmailAddress, null, new { @class = "control-label col-md-8" })
                </li>
            
                <li>
                    <label for="catname">Address</label>
                    @Html.TextBoxFor(m => m.Supplier.Address, null, new { @class = "control-label col-md-8" })
                </li>
           
                <li>
                    <label for="catname">Notes</label>
                    @Html.TextBoxFor(m => m.Supplier.Notes, null, new { @class = "control-label col-md-8" })
                </li>
            
                <li>
                    <label for="catname">Active</label>
                    @Html.TextBoxFor(m => m.Supplier.Active, null, new { @class = "control-label col-md-8" })
                </li>
            


                <input type="submit" value="Save" class="btn btn-danger" />

                <div class="btn btn-light">
                    @Html.ActionLink("Cancel", "Supplier", "Supplier")
                </div>
            </ul>
        }
    </form>
</body>