@using Cybertek.MVC.Models
@model AddEditProductViewModel

<head>
    <link rel="stylesheet" href="~/css/form.css">
</head>
<body>
    <h2>Add new Product</h2>
    @using (Html.BeginForm("SaveProduct", "Product", FormMethod.Post))
    {
<div class="form-group">

    @Html.HiddenFor(m => m.Product.ProductId)
        
        <div class="float-right">
            <label>Product Name</label>
            @Html.TextBoxFor(m => m.Product.ProductName, null, new { @class = "control-label col-md-12" })

            <label>Category Name</label>
            @Html.DropDownListFor(m => m.Product.CategoryName, Model.Categories, null, new { @class = "control-label col-md-12" })
            
            <label>Type</label>
            @Html.TextBoxFor(m => m.Product.Type, null, new { @class = "control-label col-md-12" })
            
            <label>Brand</label>
            @Html.TextBoxFor(m => m.Product.Brand, null, new { @class = "control-label col-md-12" })
            
            <label>Description</label>
            @Html.TextBoxFor(m => m.Product.Description, null, new { @class = "control-label col-md-12" })
            
            <label>Condition</label>
            @Html.TextBoxFor(m => m.Product.Condition, null, new { @class = "control-label col-md-12" })
            
            <label>Active</label>
            @Html.TextBoxFor(m => m.Product.Active, null, new { @class = "control-label col-md-12" })
        </div>

    </div>
    <div class="text-center">
        <input type="submit" value="Save" class="btn btn-danger col-md-2" />
        <div class="btn btn-light col-md-2">
            @Html.ActionLink("Cancel", "Product", "Product")
        </div>
    </div>
    }
</body>