@using Cybertek.MVC.Models
@model AddEditProductViewModel

<head>

</head>
<body>
    @using (Html.BeginForm("SaveProduct", "Product", FormMethod.Post))

    {
        @Html.HiddenFor(m => m.Product.ProductId)
        <div>
            <label for="catname">Product Name</label>
            @Html.TextBoxFor(m => m.Product.ProductName, null, new { })

            <label for="catname">Category Name</label>
            @Html.DropDownListFor(m => m.Product.CategoryName, Model.Categories, null, new { })
        </div>
        <div>
            <label for="catname">Type</label>
            @Html.TextBoxFor(m => m.Product.Type, null, new { })

        <label for="catname">Brand</label>
            @Html.TextBoxFor(m => m.Product.Brand, null, new { })
        </div>
        <div>
            <label for="catname">Description</label>
            @Html.TextBoxFor(m => m.Product.Description, null, new { })

        <label for="catname">Condition</label>
            @Html.TextBoxFor(m => m.Product.Condition, null, new { })

            <label for="catname">Active</label>
            @Html.TextBoxFor(m => m.Product.Active, null, new { })
        </div>

        <input type="submit" value="Save" class="btn-danger" />

        <div class="btn btn-light">
            @Html.ActionLink("Cancel", "Product", "Product")
        </div>
    }
</body>