@using Cybertek.MVC.Models
@model SalesViewModel

<head>
    <link rel="stylesheet" href="~/css/form.css">

</head>
<body>
    <h1>Sales</h1>
    <div class="butt">
        @Html.ActionLink("Add New Sale", "AddEditSale", "Sale", new { })
    </div>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date of Purchase</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Category Name</th>
                <th scope="col">Product Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Active</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i <= Model.Sales.Count - 1; i++)
            {
                <tr>
                    <td>@Html.HiddenFor(m => m.Sales[i].SalesId)</td>
                    <td>@Html.TextBoxFor(m => m.PurchDate)</td>
                    <td>@Html.ValueFor(m => m.Sales[i].CustomerName)</td>
                    <td>@Html.ValueFor(m => m.Sales[i].CategoryName)</td>
                    <td>@Html.ValueFor(m => m.Sales[i].ProductName)</td>
                    <td>@Html.ValueFor(m => m.Sales[i].Amount)</td>
                    <td>@Html.ValueFor(m => m.Sales[i].Quantity)</td>
                    <td>@Html.ValueFor(m => m.Sales[i].TotalAmount)</td>
                    <td>@Html.ValueFor(m => m.Sales[i].Active)</td>

                    <td>@Html.ActionLink("Edit", "AddEditSale", "Sale", new { salesId = Model.Sales[i].SalesId })</td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteSale", "Sale", new { @catId = Model.Sales[i].SalesId},
                       new { onclick = "return confirm('Do you really want to delete this record ' + '?')" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
